<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
</head>
<body>
<div>
    <h1>Create New Product</h1>
    <b/>
    <form action="#" th:action="@(/save)" th:objects="${product}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Product Name</td>
                <td><input type="text" th:field="#{name}" /></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>